---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
NamespaceIndentation: None
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<(cassert|cstddef|cstdint|cstdlib|cstring|memory|algorithm|vector|string)'
    Priority:        1
  - Regex:           '^<Q'
    Priority:        2
  - Regex:           '^<(glm|spdlog|nlohmann)'
    Priority:        3
  - Regex:           '^"'
    Priority:        4
SortIncludes: true
